{{#each contact}}
<form action="">
    <label for="">enter your email</label>
    <input type="text" value="{{this.email}}">
<br>
    <label for="">content</label>
    <input type="text" value="{{this.content}}">
</form>

{{/each}}